[Unit]
Description=SD App
After=network.target
StartLimitIntervalSec=0

[Service]
WorkingDirectory=/home/iot/IoT/SD
Type=simple
Restart=on-failure
RestartSec=1
User=iot
Environment=PYTHONPATH=/home/iot/IoT/SD
ExecStart=/usr/bin/python3 /home/iot/IoT/SD/api/server.py

[Install]
WantedBy=multi-user.target

